<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Ad</title>
    <th:block th:replace="fragments/header :: main-header(false)"/>
</head>

<div th:replace="fragments/navbar :: main-navbar"></div>


<div class="container mt-3">
    <header class="jumbotron my-3">
        <h1 class="display-3 text-center">Edit Post</h1>
    </header>
    <div class="card p-3">
        <form th:action="'/posts/' + ${posts.id} + '/edit'" th:method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" type="text" th:value="${posts.title}" name="title">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" th:text="${posts.description}" name="description"></textarea>
            </div>
            <input type="checkbox" id="tag1" name="tag">
            <label for="tag1">Funny</label>
            <input type="checkbox" id="tag2" name="tag">
            <label for="tag2">Silly</label>
            <input type="checkbox" id="tag3" name="tag">
            <label for="tag3">Humor</label>
            <button class="btn btn-warning btn-block">Update</button>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>