<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragments/header :: main-header(true)"/>
</head>
<body class="container">

<div th:replace="fragments/navbar :: main-navbar"></div>
<hr>
<div class="card">
    <div class="col-sm-12">
        <h1 th:text="${post.title}"></h1>
        <ul th:each="postImage : ${post.images}">
        <p th:text="${postImage.image_title}"></p>
            <img th:src="${postImage.url}"/>
<!--            <li th:text="${postImage.image_title}"></li>-->
        </ul>
        <p th:text="${post.description}"></p>
        <input type="hidden" name="id" th:value="${post.id}">
        <a th:href="@{'/posts/' + ${post.id} + '/edit'}"><button class="btn btn-light btn-block">Edit Post</button></a>
        <form th:action="@{'/posts/' + ${post.id} + '/delete'}" method="post">
            <button class="btn btn-danger btn-block">Delete</button>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: main-footer"></div>
</body>
</html>