<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>View Ad</title>
    <th:block th:replace="fragments/header :: main-header(true)"/>
</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>
<hr>
<div class="container">
    <div class="card">
        <div class="col-sm-12">
            <h1 th:text="${post.title}"></h1>
            <ul th:each="postImage : ${post.images}">
                <img th:src="${postImage.url}"/>
            </ul>
            <p th:text="${post.description}"></p>
            <p><strong>Post Created By: </strong><span th:text="${post.user.username}"></span></p>
            <input type="hidden" name="id" th:value="${post.id}">
            <div sec:authorize="isAuthenticated()">
                <th:block th:if="${post.user.id == #authentication.principal.id}">
                    <a th:href="@{'/posts/' + ${post.id} + '/edit'}"><button class="btn btn-light btn-block">Edit Post</button></a>
                    <form th:action="@{'/posts/' + ${post.id} + '/delete'}" method="post">
                        <button class="btn btn-danger btn-block">Delete</button>
                    </form>
                </th:block>
            </div>
        </div>
    </div>
<div th:replace="fragments/footer :: main-footer"></div>
</div>
</body>
</html>