<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <th:block th:replace="fragments/header :: second-header"/>
</head>
<body>
    <h1>Log In</h1>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input id="username" name="username" type="text"/>
        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>
<!--        <button th:action="@{/posts}" method="post" type="button" class="btn btn-secondary btn-sm">Start Blogging</button>-->
        <input type="submit" value="Start Blogging"/>
    </form>
    <div>
        <a href="/posts">Back to Featured Posts</a>
    </div>
</body>
</html>