body {
    background-image: url("/img/login_BG.png");
}

container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: transparent;
    border-style: hidden;
}

div a {
    color: darkred;
}