body {
    background-image: url("/img/blog_BG.jpg");
    background-size: cover;
}

.jumbotron {
    opacity: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-style: none;
}

.card a {
    color: black;
}
